include head.jade

	body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
		//incluye la barra de top
		include header.jade
		header(class="intro")
			div(class="intro-body")
				div(class="container")
					div(class="row")
						div(class="col-md-8 col-md-offset-2")
							h1(class="brand-heading letra_blanca_sombreada" ).
								 PC's
							p(class="intro-text" )
								h2(class="letra_blanca_sombreada")  ¡Diseña el computador de tus sueños!
							a(href="/design" class="btn btn-circle page-scroll" data-toggle="tooltip" data-placement="left" title="¡Diseña!")
								<i class="fa fa-cog animated fa-spin"></i>



		section(id="about" class="container content-section text-center")
			div(class="row")
				div(class="col-lg-8 col-lg-offset-2")
					h2 Nosotros
					p Somos una empresa encargada del diseño y ensamblado de los mas poderosos computadores a pedicion del cliente.
						
		section(id="contact" class="container content-section text-center")
			div(class="row")
				div(class="col-lg-8 col-lg-offset-2")
					h2 Contacto
					p Sientete libre de enviarnos tus dudas a nuestro correo electronico
					a(href="mailto:marlonyessid0925@gmail.com") 
						h6 marlonyessid0925@gmail.com

					ul(class="list-inline banner-social-buttons")
						li
							a(href="https://www.facebook.com/marlon.coronel" class="btn btn-default")
								i(class="fa fa-facebook" aria-hidden="true")
								span(class="network-name")  facebook
						li
							a(href="http://tinyurl.com/2fcpre6" class="btn btn-default")
								i(class="fa fa-twitter" aria-hidden="true")
								span(class="network-name") twitter
		
		br
		br
		br
		br
		br
		br
		br
		br
		br 		