include head.jade
body(id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="fond")
	//incluye la barra de top
	include header.jade
	div(class="container espacio-arriba")
		div(class="row").
		-var inf=war;
			div!= inf